db.sqlite3.old
manage.py
ngrok.exe
LiveChat/__pycache__/
LiveChat/.env
.vscode/
.pytest_cache/
*.mp3
*.wav
*.raw
livechatapp/__pycache__/
livechatapp/controllers/__pycache__/
livechatapp/migrations/
livechatapp/controllers/.env
livechatapp/customization/__pycache__/
livechatapp/tests/__pycache__/
livechatapp/views/__pycache__/
frontend/__pycache__/
frontend/migrations/
frontend/node_modules/
frontend/static/frontend/