@import url("normalize.css");

.numbers-container {
    padding-left: 10%;
    grid-area: left;
}

.chat-container {
    grid-area: mid;
}

.logout-container {
    grid-area: right;
}

.dashboard-container {
    color: darkslategray;
    display: grid;
    grid-template-columns: 15% 80% 5%;
    grid-template-areas: "left mid right";
}

body {
    background-color: lightgray;
}

input[type="button"], input[type="submit"] { 
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1d7484;
    color: #f9f9f9;
    border-radius: 1px;
    border: 1px solid #1d7484;
} 