.numbers-table {
    border-collapse: collapse;
    border: 3px solid darkgray;
}

.numbers-table td,
.numbers-table th {
    border: 1px solid darkgray;
    padding: 6px;
}

.numbers-table tr:hover {
    background-color: lightblue;
}